@model AerialResources.DTO.GetAllCourses;
@using AerialResources.Operations;

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>


<div>
    <h4>Student Courses</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.myCourses.Name)
        </dt>
        @*<dd>
            @Html.DisplayFor(model => model.CourseID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentID)
        </dd>*@
    </dl>

    @foreach (var student in Model.students)
    {
        <p>Student Name: @Html.DisplayFor(modelItem => student.Name)</p>

    }
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.StudentCourseID">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
