@model IEnumerable<AerialResources.Models.TrapezeVideos>

@{
    ViewData["Title"] = "Index";
}

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Airborne Aerialists</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS
    ================================================== -->

    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/css/custom-styles.css" rel="stylesheet" />
    <link href="~/css/prettyPhoto.css" rel="stylesheet" />
    <link href="~/css/flexslider.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/style-ie.css" rel="stylesheet" />
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <link rel="stylesheet" href="css/style-ie.css"/>
    <![endif]-->
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
    <!-- JS
    ================================================== -->



    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/jquery.prettyPhoto.js"></script>
    <script src="~/js/jquery.flexslider.js"></script>
    <script src="~/js/jquery.custom.js"></script>
    <script type="~/text/javascript">


    </script>
</head>

<body class="home">
    <!-- Color Bars (above header)-->
    <div class="color-bar-1"></div>
    <div class="color-bar-2 color-bg"></div>

    <div class="container">

        <div class="row header">
            <!-- Begin Header -->
            <!-- Logo
            ================================================== -->
            <div class="span5 logo">
                <a href="index.htm"><img src="~/img/airbornelogo.png" alt="" /></a>
                <h5>An Instructional Video Guide for Aerialists</h5>
            </div>

            <!-- Main Navigation
            ================================================== -->
            <div class="span7 navigation">
                <div class="navbar hidden-phone">

                    <ul class="nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>


                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="gallery-4col.htm">Video Library <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a asp-area="" asp-controller="TrapezeVideos" asp-action="library">Trapeze</a></li>
                                <li><a asp-area="" asp-controller="SilksVideos" asp-action="library">Silks</a></li>
                                <li><a asp-area="" asp-controller="SlingVideos" asp-action="library">Sling</a></li>
                                <li><a asp-area="" asp-controller="RopeVideos" asp-action="library">Rope</a></li>
                                <li><a asp-area="" asp-controller="LyraVideos" asp-action="library">Lyra</a></li>
                            </ul>
                        </li>

                        <li><a asp-area="" asp-controller="Courses" asp-action="ReferenceIndex">Reference Sheets</a></li>


                        <li><a asp-area="" asp-controller="Students" asp-action="Admin">Admin</a></li>

                    </ul>

                </div>
                <!-- Mobile Nav
                ================================================== -->
                <form action="#" id="mobile-nav" class="visible-phone">
                    <div class="mobile-nav-select">
                        <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
                            <option value="">Navigate...</option>
                            <option value="index.htm">Home</option>

                        </select>
                    </div>
                </form>
            </div>

        </div><!-- End Header -->

        <div class="row headline">
            <!-- Begin Headline -->
            <!-- Slider Carousel
    ================================================== -->


            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Url)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Level)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PreReqs)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <iframe width="280" height="167" src="https://www.youtube.com/embed/@item.Url" frameborder="0" allowfullscreen></iframe>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Level)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PreReqs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.VideoID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.VideoID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.VideoID">Delete</a>
                    </td>
                </tr>
    }
                </tbody>
            </table>




        </div>
    </div>
    </div>

    </div>




    <!-- Footer Area
        ================================================== -->
    <div class="footer-container">
        <!-- Begin Footer -->

        <div class="row">
            <!-- Begin Sub Footer -->
            <div class="span12 footer-col footer-sub">
                <div class="row no-margin">
                    <div class="span6"><span class="left">Copyright 2018 Aerial Resources. All rights reserved.</span></div>
                    <div class="span6">

                    </div>
                </div>
            </div>
        </div><!-- End Sub Footer -->
    </div>

    <!-- Scroll to Top -->
    <div id="toTop" class="hidden-phone hidden-tablet">Back to Top</div>

</body>
</html>



